html, body {
height: 100%;
margin: 0px;
font-family: sans-serif;
}
p, div {
	margin: 0px;
	padding: 0px;
}

div {
	position: relative;
    transition: all 0.5s;
}

div p {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.container {
	width: 100%;
	height: 100%;
}

.col {
	float: left;
	margin: 0% 1%;
	width: 8%;
	height: 85%;
	display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header {
	width: 100%;
	height: 10%;
}

.footer {
	width: 100%;
	height: 3%;
	position: absolute;
	bottom: 0px;
}

.sq {
	width: 100%;
	height:9%;
	background: #B7B9FD;
	cursor: pointer;
}

.chosen {
	background: #F30707;
}

.chosen p{
	color: #fff !important;
}

.last_cl {
	background: #DFEE0C;
}

.sq p{
	text-align: center;
	font-size: min(3vw, 6vh);
	color: #000;
}

.footer div {
  background-color: #444;
  border: none;
  height: 100%;
  margin: 0px 0.2% 0px 0px;
  width:24.8%;
  cursor: pointer;
  float:left;
}

.footer div p, .footer div a:link, .footer div a:visited, .footer div a {
	font-size: min(2vw,2vh);
	color: #fff;
	text-decoration: none;
}

.modal_content a, .modal_content a:link, modal_content a:visited, modal_content a:hover {
	color: #000;
}

.modal_content a:hover{
  color: #F30707;
}
		
.header p {
	text-align: center;
	font-size: min(4vw, 6vh);
	font-weight: bold;
 }
 
 .header p img {
	height:  min(3vw, 5vh);
 }
 
 .footer div:hover p, .sq:hover p {
	font-weight: bold;
 }
 
 .domek {
	 height: 5vh;
 }
